.post {
   width: 40%;
   background-color: #FBF37C;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   padding-left: 1%;
   overflow: hidden;
   border-radius: 15px;
   margin-bottom: 40px
}

.post__subtitle {
    color: #7F7F7F;
}